<template>
    <div class="header-text">
        <div class="home_page_slider_heading_1">
            <h1>
                {{ $t('home_page_slider_heading_1') }}
                <button class="btn btn-dark btn-sm" href="#">Shop now</button>
            </h1>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HeaderMEtaComponent"
    }
</script>

<style >

    .header-text h1 {
        color: white;
        /*position: absolute;*/
        top: 75%;
        left: 6%;
    }

     h1 {
        font-size: 36px;
    }
    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .home_page_slider_heading_1{
        max-width: 470px;
    }
</style>
