


.section-head a {
    color: #D3152B !important;
    font-size: small !important;
}
.circle-sec6 {
    width: 160px;
    height: 120px;
    margin: 0px 5px;
    color: #D3152B;
    /* border: 2px inset #d3152b; */
}
.sec6-div .circle-sec6 a {
    color: #D3152B;
}

.circle-sec6 img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.sec6-div {
    display: inline-flex;
    width: 100%;
    margin: 0px 0px 40px 0px;
}

.container-fluid {
    padding-right: 60px !important;
    padding-left: 60px !important;
}
