<template>
    <section class="container-fluid">
        <div class="section-head" >
            <h2> {{$t('home_page_category_shop')}}  <a class="tag" href="#">{{$t('home_page_see_all')}} <i class="fa fa-caret-right"></i></a></h2>
        </div>
        <hr>
        <div class="container-fluid text-wrap" style="overflow: auto; white-space: nowrap;">

                <div class="sec6-div" id="sec6">
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/MTM=">
                            <img src="https://dev.buildmart.net/public/admin/images/productCategory/1605507829_189071229.jpeg" alt="Architectural Materials">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Architectural Materials </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/MTQ=">
                            <img src="https://dev.buildmart.net/public/admin/images/productCategory/1605507858_1435144828.jpeg" alt="Mechanical Materials">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Mechanical Materials </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/MTU=">
                            <img src="https://dev.buildmart.net/public/admin/images/productCategory/1605507921_235062013.jpeg" alt="Electrical Materials">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Electrical Materials </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/MTg=">
                            <img src="https://dev.buildmart.net/public/admin/images/productCategory/1607697231_1879620623.jpg" alt="electronics">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> electronics </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/MTk=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="category test">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> category test </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/MjA=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="category test">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> category test </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/MjQ=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="category test2">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> category test2 </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/MjY=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="category test45">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> category test45 </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/Mjg=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="test test">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> test test </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/Mjk=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Building Materials">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Building Materials </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/MzA=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Building Materials 2">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Building Materials 2 </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/MzE=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="test 2323">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> test 2323 </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/MzI=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Building Materials">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Building Materials </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/MzM=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Building Material - 05">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Building Material - 05 </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/MzQ=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="test432432">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> test432432 </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/MzU=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="dsdfdfdfdfd fdfdfd">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> dsdfdfdfdfd fdfdfd </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/MzY=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Cat-Name-En - 18-01">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Cat-Name-En - 18-01 </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/Mzc=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="New-En-Cat-Name - 18-01">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> New-En-Cat-Name - 18-01 </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/Mzg=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="test 4433221122">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> test 4433221122 </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/Mzk=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="New-En-Cat-Name - 18-01 - NT">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> New-En-Cat-Name - 18-01 - NT </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NDA=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="dsdsdsds sdsdsdsd">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> dsdsdsds sdsdsdsd </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NDE=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="name name cat cat">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> name name cat cat </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NDI=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="child child cat cat">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> child child cat cat </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NDM=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="ch cat">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> ch cat </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NDc=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="cat with image">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> cat with image </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NTA=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="cat with image with parent">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> cat with image with parent </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NTE=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="catcat wihtout parent n child">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> catcat wihtout parent n child </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NTI=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="catcat with parent n child">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> catcat with parent n child </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NTM=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="cat cat with parent wihtout child">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> cat cat with parent wihtout child </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NTQ=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="2nd-NT-Cat-Name-Test-EN-18-01">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> 2nd-NT-Cat-Name-Test-EN-18-01 </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NTg=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Override Keywords testing">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Override Keywords testing </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NjA=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Override Keywords testing - C 2">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Override Keywords testing - C 2 </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NjE=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Override Keywords testing - C3">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Override Keywords testing - C3 </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NjI=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Override Keywords testing - C2">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Override Keywords testing - C2 </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NjM=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Override Keywords testing - C4">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Override Keywords testing - C4 </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NjQ=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Test Category - Set as Parent">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Test Category - Set as Parent </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NjU=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Test Category - Set as Child">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Test Category - Set as Child </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NjY=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Test Category - Set as Child 2">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Test Category - Set as Child 2 </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/Njc=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Test Category - Set as Child 3 - Edit method">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Test Category - Set as Child 3 - Edit method </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/Njg=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Building Products">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Building Products </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/Njk=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Materials">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Materials </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NzA=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Construction Materials">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Construction Materials </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NzE=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Steel &amp; Metal">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Steel &amp; Metal </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NzI=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Wood">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Wood </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NzM=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Beams &amp; Channels">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Beams &amp; Channels </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NzQ=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="Steel Bars">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> Steel Bars </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NzU=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="test">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> test </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/NzY=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="child category">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> child category </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/Nzc=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="child child category">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> child child category </strong></h6>
                        </a>
                    </div>
                    <div class="circle-sec6 text-center">
                        <a href="https://dev.buildmart.net/building/productList/Nzg=">
                            <img src="https://dev.buildmart.net/public/admin/images/no_image.png" alt="child child child category">
                            <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><strong> child child child category </strong></h6>
                        </a>
                    </div>

                </div>
        </div>

    </section>
</template>

<script>
export default {
name: "ShopByCategoryComponent"
}
</script>

<style scoped>
@import "ShopByCategoryComponent.css";


</style>
