section {
    padding: 20px 0px 0px 0px;
    position: relative;
}

.container-fluid {
    padding-right: 60px !important;
    padding-left: 60px !important;
}

section-head h2, .section-head h3, .section-head h4 {
    font-weight: bold;
}
.section-head a {
    color: #D3152B !important;
    font-size: small !important;
}

.brnd_img {
    width: 100%;
    height: 120px;
    border: 1px solid #dfdfdf;
    background: #ededed;
}

.img-fluid img {
    border: 1px solid rgb(231, 231, 231);
    padding: 30px;
    object-fit: contain;
    width: 20vh;
    height: 20vh;
}
