section {
    padding: 20px 0px 0px 0px;
    position: relative;
}
.container-fluid {
    padding-right: 60px !important;
    padding-left: 60px !important;
}



.section-head h2, .section-head h3, .section-head h4 {
    font-weight: bold;
}
.section-head a {
    color: #D3152B !important;
    font-size: small !important;
    text-decoration: none;
}



.col-md-cs-3 {
    width: 25%;
    padding: 0px 2px;
}
.card {
    box-shadow: none !important;
    border: 1px solid rgb(231, 231, 231);
    transition: .2s;
}

.card-img-top {
    margin: auto !important;
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-sec7 .card-footer {
    background-image: linear-gradient(to right, #D3152B , #D3152B);
    height: 100%;
    color: #782217;
}

