<template>
    <section class="container-fluid">
            <div class="section-head">
                <h2>{{ $t('home_page_sections') }} <a href="#">{{ $t('home_page_see_all') }} <i class="fa fa-caret-right"></i></a></h2>
            </div>
            <div class="row text-center">
                <div class="col-md-cs-3">
                    <a class="sec1-hr" href="https://dev.buildmart.net/building/productList/MTM=">
                        <div class="card card-sec7" style="width:100%">
                            <img class="card-img-top" src="https://dev.buildmart.net/public/admin/images/productCategory/1605507829_189071229.jpeg" alt="Electrical Materials" style="height:220px">
                            <div class="card-footer ">
                                <h4 style="color: #ffffff;">
                                    <strong> Architectural Materials </strong>
                                </h4>
                                <!-- <p>
                                    <small>GET OUR OFFER</small>
                                </p> -->
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-cs-3">
                    <a class="sec1-hr" href="https://dev.buildmart.net/building/productList/MTQ=">
                        <div class="card card-sec7" style="width:100%">
                            <img class="card-img-top" src="https://dev.buildmart.net/public/admin/images/productCategory/1605507858_1435144828.jpeg" alt="Electrical Materials" style="height:220px">
                            <div class="card-footer ">
                                <h4 style="color: #ffffff;">
                                    <strong> Mechanical Materials </strong>
                                </h4>
                                <!-- <p>
                                    <small>GET OUR OFFER</small>
                                </p> -->
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-cs-3">
                    <a class="sec1-hr" href="https://dev.buildmart.net/building/productList/MTU=">
                        <div class="card card-sec7" style="width:100%">
                            <img class="card-img-top" src="https://dev.buildmart.net/public/admin/images/productCategory/1605507921_235062013.jpeg" alt="Electrical Materials" style="height:220px">
                            <div class="card-footer ">
                                <h4 style="color: #ffffff;">
                                    <strong> Electrical Materials </strong>
                                </h4>
                                <!-- <p>
                                    <small>GET OUR OFFER</small>
                                </p> -->
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-cs-3">
                    <a class="sec1-hr" href="https://dev.buildmart.net/building/productList/MTg=">
                        <div class="card card-sec7" style="width:100%">
                            <img class="card-img-top" src="https://dev.buildmart.net/public/admin/images/productCategory/1607697231_1879620623.jpg" alt="Electrical Materials" style="height:220px">
                            <div class="card-footer ">
                                <h4 style="color: #ffffff;">
                                    <strong> electronics </strong>
                                </h4>
                                <!-- <p>
                                    <small>GET OUR OFFER</small>
                                </p> -->
                            </div>
                        </div>
                    </a>
                </div>
            </div>
    </section>
</template>

<script>
export default {
    name: "SectionNameComponent"
}
</script>

<style scoped>
    @import "SectionNameComponent.css";
</style>
