<template>
    <div class="container-fluid">
        <div class="row">

            <form class="col-md-3 mt-3" method="post" @submit="setUser">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>{{ $t('full_name')}}</label>
                            <input v-model="profileForm.name" type="text" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input :readonly="true" v-model="profileForm.email" type="email" class="form-control" >
                        </div>
                        <button class="btn btn-danger" type="submit" > Save </button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</template>

<script>
    import BaseComponent from "../../../components/base/BaseComponent";

    export default {
        name: "UserProfileComponent",
        extends: BaseComponent,
        data() {
            return {
                isReadOnly: true,
                profileForm: {
                    email: "",
                    name: "",
                },
                previewImage:null,


            }
        },
        methods: {
            async setUser(e) {
                e.preventDefault();
                let res = await this.network().updateProfile(this.profileForm);
                console.log(res);
                await this.sqlite().updateUserInDatabase(res);
                location.reload()
            },
            uploadImage(e){
                const image = e.target.files[0];
                const reader = new FileReader();
                reader.readAsDataURL(image);
                reader.onload = e =>{
                    this.previewImage = e.target.result;
                    this.profileForm.avatar = this.previewImage
                    console.log(this.previewImage);
                };
            },
            async getUser(){
                let user = await this.sqlite().getActiveUser();
                console.log({user})
                this.profileForm.name = user.name;
                this.profileForm.email = user.email;
                // this.previewImage = user.avatar;
            }

        },
        created() {
            this.getUser()
        }
    }
</script>

<style scoped>

</style>
