
#carouselExampleIndicators2 {
    position: initial;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 50vh;
    overflow: hidden;
}
.carousel-indicators2 {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.carousel-indicators2 li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background: #ffffff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}
.container-fluid {
    padding-right: 60px !important;
    padding-left: 60px !important;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
}

