<template>
        <section class="container-fluid" >
            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators2">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 h-100" :src=" 'frontend/img/banner-home1.png'" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 h-100" :src="'frontend/img/banner-home1.png'" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 h-100" :src="'frontend/img/banner-home1.png'" alt="Third slide">
                    </div>
                </div>

            </div>
        </section>


</template>
<script>
export default {
    name: "HomePageCarouselComponent",

}
</script>

<style scoped>

@import 'HomePageCarouselComponent.css';

</style>
