.set-height{
    width: 100%;
    height: 20rem;
    margin-bottom: 20%;
}
.margin-bottom{
    margin-bottom: 20rem;
}

.contain-slider{
    position: relative;
}

#carouselExampleIndicators {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    overflow: hidden;
}

.full-screen-height{
    height: 100vh;
    padding: 20px 30px;
}
