<template>
  <div class="row">
    <div class="subscribe-box col-md-3 col-sm-6" v-for="item in subscriptions">
      <div class="one">
          <div class="badge badge-danger">{{ item.type }}</div>
        <div class="logo">

          <i
            :style="getColor(item.color)"
            class="fa fa-check-circle"
            aria-hidden="true"
          ></i>
        </div>
        <div class="text-portion">
          <p>${{ item.price }}</p>
          <h2 class="heading">{{ item.title }}</h2>
          <p>{{ item.description }}</p>
          <p>Users : {{ item.user_limit }}</p>
        </div>
        <div class="input-portion">
          <button
            class="btn btn-danger btn-block subs-button"
            type="submit"
            @click="subscribe(item.id)"
          >
            SUBSCRIBE
          </button>
        </div>
      </div>
    </div>

    <div class="subscribe-box col-md-3 col-sm-6" v-for="item in user_subscriptions">
      <div class="one">
          <div class="badge badge-danger">{{ item.subscription.type }}</div>
        <div class="logo">
          <i
            :style="getColor(item.subscription.color)"
            class="fa fa-check-circle"
            aria-hidden="true"
          ></i>
        </div>
        <div class="text-portion">
          <p>${{ item.subscription.price }}</p>
          <h2 class="heading">{{ item.subscription.title }}</h2>
          <p>{{ item.subscription.description }}</p>
          <p>Users : {{ item.subscription.user_limit }}</p>
        </div>
        <div class="input-portion">
          <a @click="getCompanyAdminUrl" class="btn btn-danger btn-block subs-button">Go to Dashboard</a>
          <a @click="unsubscribe(item)"  class="btn btn-block subs-button" >UNSUBSCRIBED</a>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import BaseComponent from "../../../components/base/BaseComponent";

export default {
  name: "SubscriptionPackageComponent",
  extends: BaseComponent,
  data() {
    return {
      subscriptions: [],
      user_subscriptions: [],
    };
  },
  methods: {
    async getPackages() {
      let ndata = await this.network().getSubscriptionDetails();

      this.user_subscriptions = ndata["plist"];
      console.log("user_subscriptions", this.user_subscriptions);
      if (this.user_subscriptions.length == 0) {
        this.subscriptions = await this.network().getPackages();
        console.log("subscriptions ", this.subscriptions);
      }
    },
    getColor(color) {
      console.log(color);
      return `color:${color};`;
    },
    async subscribe(subscription_id) {
      console.log(subscription_id);
      var formdata = {
        subscription_id: subscription_id,
      };
      let res = await this.network().setUserPackage(formdata);
      console.log(res);
      location.reload();
    },
    async unsubscribe(item) {
      let res = await this.network().unsetUserPackage(item);
      console.log(res);
      location.reload();
    },
    getCompanyAdminUrl() {
      let url = location.href.split("public")[0];
      console.log(url);
      location.href = `${url}public/admin`;
    },
  },
  mounted() {
    this.getPackages();
  },
};
</script>


<style scoped>
.subscribe-box {
  display: block;
  border: 1px solid lightgray;
  margin: 10px;
  border-radius: 10px;
}

.one {
  padding: 20px;
}

.one .logo {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
}

.text-portion {
  text-align: center;
}

.input-portion input {
  width: 100%;
  margin-bottom: 10px;
}

.UNSUBSCRIBED {
  font-size: 10px;
}
</style>

