<template>
    <div class="nav-search mb-5">
        <div class="">
            <img class="img-fluid" src="frontend/img/logo.png">
            <p>{{ $t('home_page_heading_above_search')}}</p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search this blog">
                <div class="input-group-append">
                    <button class="btn " type="button">
                        <i class="fa fa-search text-danger"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BaseComponent from "../../base/BaseComponent";

    export default {
        name: "HeaderSearchComponent",
        extends: BaseComponent,
        data() {
            return {
                logo: String,

            }
        },
        methods: {
            async getLogo () {
               this.logo = await this.network().getSiteLogo();
                console.log('logo: ', this.logo)
            },

        },
        created() {
            this.getLogo ()
        }
    }
</script>

<style scoped>
    @import "HeaderSearchComponent.css";
</style>
