.nav-search p {
    color: #252772;
    font-size: medium;
    line-height: .7 !important;
    margin-top: 5px;
}
.nav-search {
    /*position: absolute;*/
    top: 17%;
    left: 5%;
    background-color: white;
    border-radius: 15px;
    max-width: 600px;
    padding: 10px 5px 30px 20px;
}
.nav-search img {
    width: 120px;
    padding: 20px 0px;

}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
