<template>
    <div class="locale-changer">
        <select class="form-select" v-model="$i18n.locale" @change="updateLanguageDirection($event)"  >
            <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang.code">
                {{ lang.label }}
            </option>
        </select>
    </div>
</template>

<script>
import BaseComponent from "../../base/BaseComponent";

export default {
    name: 'locale-changer',
    data () {
        return { langs: [
                { code: 'ar', label: 'العربية'},
                { code: 'en', label: 'English'}
                ]
        }
    },
    extends: BaseComponent,
    methods: {
        async updateLanguageDirection(event) {
            console.log(event.target.value)
            localStorage.setItem('lang', event.target.value)
            let v = event.target.value == 'ar' ? 'rtl' : 'ltr';
            document.querySelector('body').classList.remove('rtl');
            document.querySelector('body').classList.remove('ltr');
            document.querySelector('body').classList.toggle(v);
            document.querySelector('body').setAttribute('dir', v)

            // this.logo = await network.getSiteLogo();
            // console.log('logo: ', this.logo)
        },

    },
}
</script>
<style scoped>

.locale-changer .form-select {
    border: none;
    height: 100%;
    color: #d3152b;
    font-weight: bold;
}
</style>
