<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-radius">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active padding-between" v-for="item in menusAssigned" :key="item.id">
                    <a class="nav-link">{{ $t(item.title) }} <span class="sr-only">(current)</span></a>
                </li>

                <locale-changer></locale-changer>
                <li class="nav-item active icons padding-between">
                    <a href="">
                        <i class="nav-link fa fa-shopping-cart icons-color"></i>
                    </a>
                </li>
                <li class="nav-item active icons padding-between">
                    <a href=""> <i class="nav-link fa fa-heart icons-color"></i></a>
                </li>
                <li class="nav-item active icons padding-between">
                    <a @click="this.userRedirect"><i class="nav-link fa fa-user icons-color"></i></a>
                </li>
            </ul>
        </div>
    </nav>


</template>

<script>
    import BaseComponent from "../../base/BaseComponent.vue";
    import menu from './menu.json';


    export default {
        name: "MenuComponent",
        extends: BaseComponent,
        data() {
            return {
                menusAssigned: [],
                simpleDialog: false
            };
        },
        methods: {
            async getMenus() {
                this.menusAssigned = menu;
                console.log({menu});
            },
            async userRedirect(){

                // check if user logged in
                let user = await this.sqlite().getActiveUserId();
                console.log(user)
                if (!user){
                    // redirect to /sign-in
                    this.route('/sign-in')
                }else{
                    // redirect to /profile
                    this.route('/profile')

                }


            }

        },

        created() {
            this.getMenus();
        },
    };
</script>

<style lang="css">
    @import "MenuComponent.css";
</style>
