<template>
    <div class="">
        <header-second></header-second>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <section class="register_sec bsns_dtl">
                        <div class="new_div_aded">
                            <div class="sec_heading text-center">
                                <h2>Sign Up</h2>
                            </div>
                            <div class="wrap_register_white">
                                <div class="inr_signup left_info">
                                    <form class="userSignUpForm" novalidate="novalidate">

                                        <div class="cont_rp_form">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group text-left">
                                                        <label class="last_nm_txt" style="opacity: 1;">Name</label><sup
                                                        class="imp_mark imp_mh" style="display: inline;">*</sup>
                                                        <input type="text" name="last_name" class="form-control last_nm_plc"
                                                            v-model="signInForm.name"
                                                            placeholder="Name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group text-left">
                                                        <label>Email Address<sup class="imp_mark">*</sup></label>
                                                        <input type="text" name="email" class="form-control"
                                                            v-model="signInForm.email"
                                                            placeholder="Email Address" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group text-left">
                                                        <label>Password<sup class="imp_mark">*</sup></label>
                                                        <input autocomplete="off" type="password" id="password"
                                                            name="password" class="form-control"
                                                            v-model="signInForm.password"
                                                            placeholder="New Password">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group text-left">
                                                        <label>Confirm Password<sup class="imp_mark">*</sup></label>
                                                        <input autocomplete="off" type="password" name="confirm_password"
                                                            class="form-control" placeholder="Confirm New Password">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group text-left">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck_nw"
                                                    name="terms_conditions">
                                                <label class="custom-control-label" for="customCheck_nw">I agree to the <a
                                                    href="https://dev.buildmart.net/termsCondtion" class="ter_links"
                                                    target="_blank"> Terms &amp; Conditions.</a></label>
                                            </div>
                                            <!-- <label class="error" for="terms_conditions">Please agree terms & conditions</label> -->
                                            <span class="error" id="terms_conditions_id"></span>
                                        </div>
                                    </form>
                                </div>
                                <div class="button_nex_prev">
                                    <div class="">
                                        <div class="form-group text-right">
                                            <a class="btn btn_theme usr_form" v-on:click="signIn()"><span>Submit <i
                                                class="fa fa-arrow-right"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-4">
                    <section class="register_sec bsns_dtl">
                        <div class="new_div_aded">
                            <div class="wrap_register_white">
                                <div class="inr_signup left_info">
                                    <div class="sec_heading text-center">
                                        <h2>Sign In</h2>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group text-left">
                                                        <label>Email</label>
                                                        <input type="text" name="email" class="form-control inputlog"
                                                            v-model="loginForm.email"
                                                            placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group text-left">
                                                        <label>Password</label>
                                                        <input type="password" name="password" v-model="loginForm.password"
                                                            class="form-control inputlog" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group text-left">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="customCheck" name="remember_me">
                                                            <label class="custom-control-label" for="customCheck"
                                                                style="color: black !important">Remember me</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 text-right">
                                                    <a class="" data-toggle="modal" data-target="#for_pwd"><i>Forgot
                                                        Password?</i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <button class="btn btn_theme btn_nex login_sub_btn" v-on:click="logIn()"><span>Sign in <i
                                            class="fa fa-arrow-right"></i></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    // import {EventBus} from "../../eventbus";
    import BaseComponent from "../../components/base/BaseComponent";

    export default {
        name: "SignInPageComponent",
        extends: BaseComponent,
        data() {
            return {
                loginForm: {
                    email: "",
                    password: ""
                },

                signInForm: {
                    name: "",
                    email: "",
                    password: "",
                },
            }
        },

        mounted() {

        },

        methods: {

            async signIn() {
                console.log(this.signInForm);
                let res = await this.network().signInUser(this.signInForm);
                this.processRequest(res)
            },

            async logIn() {
                console.log(this.loginForm);
                let res = await this.network().logInUser(this.loginForm);
                this.processRequest(res)
            },

            async processRequest(res){
                var user = res.user;
                user.token = res.token;
                console.log(user);
                await this.sqlite().setUserInDatabase(user);

                // point to taken
                this.route('/profile')

            }

        }

    }
</script>

<style scoped>
    .button_nex_prev .btn {
        margin: 20px 0 0;
    }

    .btn.btn_theme {
        position: relative;
        border: none;
        background: transparent;
        padding: 8px 30px;
        display: inline-block;
        color: #D3152B;
        /* width: 100%; */
        border: 2px solid #D3152B;
    }

    .btn.focus, .btn:focus, .btn:hover {
        color: #333;
        text-decoration: none;
    }
</style>
