<template>
<!--    <div v-if="isLoading" style="height: 100%" class="container d-flex align-items-center justify-content-center">-->
<!--        <div class="spinner-border" role="status">-->
<!--            <span class="sr-only">Loading...</span>-->
<!--        </div>-->
<!--    </div>-->


        <!--  *********************** TOP BANNER AREA ************************** -->
        <div class="row">
            <top-header></top-header>
            <header-bar-categories class="bg-danger"></header-bar-categories>
            <div class="col-12 ">
                <why-us></why-us>

            </div>
            <div class="col-12">
                <home-carousel ></home-carousel>

            </div>
            <div class="col-12">
                <shop-by-category></shop-by-category>
            </div>
            <div class="col-12">
                <brands></brands>
            </div>
            <div class="col-12">
                <hot-offers></hot-offers>
            </div>
            <div class="col-12">
                <home-categories></home-categories>
            </div>
            <div class="col-12">
                <home-section-names></home-section-names>
            </div>
            <div class="col-12">
                <home-banner></home-banner>
            </div>
            <div class="col-12">
                <coming-soon></coming-soon>
            </div>

        </div>





        <!--  *********************** ON SALE ITEMS AREA ************************** -->



        <!--  *********************** FEATURED BANNER AND FEATURED ITEMS AREA ************************** -->



        <!--  *********************** CATEGORIES AREA START  ************************** -->


</template>

<style lang="scss">
    /*@import "../../../sass/home";*/
</style>

<script>
    import BaseComponent from "../../components/base/BaseComponent";
    export default {
        extends: BaseComponent,
        mounted() {

        },

        data() {
            return {

            }
        },





    }
</script>
