<template>
    <div class="" style="padding: 30px 47px 0px 47px">
        <section class="sec8 text-center" style="" >
            <h2><strong>Shop in our website</strong></h2>
            <p>Banner Template</p>
        </section>
    </div>
</template>

<script>


export default {
    data() {
        return {
        }
    }
}
</script>

<style scoped>
    @import "HomeBannerComponent.css";
</style>
