<template>
    <div class="custom_container">
        <div class="wrap_app">
            <div class="row align-items-center">

                <div class="col-sm-7">
                    <img src="https://dev.buildmart.net/public/admin/images/appStoreDetail/1609148069_241726249.png" class="img-fluid" alt="App Shots">
                </div>
                <div class="col-sm-5">
                    <div class="aps_right">
                        <div class="sec_heading no_pad">
                            <h1 class="text-left">Coming Soon on App Store &amp; Play</h1>
                        </div>
                        <div class="para_app">
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius</p>

                            <!--<a href="https://play.google.com/store/apps/">--><img src="https://dev.buildmart.net/frontend/img/aps.svg" class="img-fluid" alt="store images"><!--</a>-->
                            <!--<a href="https://www.apple.com/in/app-store/">--><img src="https://dev.buildmart.net/frontend/img/pls.svg" class="img-fluid" alt="store images"><!--</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ComingSoonComponent"
}
</script>

<style scoped>
    @import "ComingSoonComponent.css";
</style>
