<template>
    <div class="">
        <header-second></header-second>
        <div class="row">
            <div class="col-2">
                <!-- Using modifiers -->
                <b-button v-b-toggle.profile class="m-1 w-100">Profile</b-button>
                <!-- Using value -->
                <b-button v-b-toggle="'subscription'" class="m-1 w-100">Subscription</b-button>
                <!-- Using value -->
                <b-button v-b-toggle="'logout'" class="m-1 w-100" @click="logoutUser">Logout</b-button>
            </div>
            <div class="col-10">
                <!-- Element to collapse -->
                <div class="accordion" role="tablist">
                    <b-card no-body class="mb-1">
                        <b-card-header header-tag="header" class="p-1" role="tab">
                            <b-button block v-b-toggle.subscription variant="info">Profile</b-button>
                        </b-card-header>
                        <b-collapse id="profile" visible accordion="my-accordion" role="tabpanel">
                            <user-profile></user-profile>
                        </b-collapse>
                    </b-card>

                    <b-card no-body class="mb-1">
                        <b-card-header header-tag="header" class="p-1" role="tab">
                            <b-button block v-b-toggle.subscription variant="info">Subscription</b-button>
                        </b-card-header>
                        <b-collapse id="subscription" accordion="my-accordion" role="tabpanel">
                            <b-card-body>
                                <subscription-packages v-if="!isUserSubscribed"></subscription-packages>
                                <div v-if="isUserSubscribed">

                                    You have been subscribed to {{subscription.title}}
                                    <br>
                                    <a v-if="isUserSubscribedOwner" v-bind:href="getCompanyAdminUrl()">
                                        Click here to add users in your account
                                    </a>

                                </div>
                            </b-card-body>
                        </b-collapse>
                    </b-card>

<!--                    <b-card no-body class="mb-1">-->
<!--                        <b-card-header header-tag="header" class="p-1" role="tab">-->
<!--                            <b-button block v-b-toggle.logout variant="info">logout</b-button>-->
<!--                        </b-card-header>-->
<!--                        <b-collapse id="logout" accordion="my-accordion" role="tabpanel">-->
<!--                            <b-card-body>-->
<!--                                <b-card-text>{{ text }}</b-card-text>-->
<!--                            </b-card-body>-->
<!--                        </b-collapse>-->
<!--                    </b-card>-->
                </div>


            </div>
        </div>

    </div>

</template>

<script>



import BaseComponent from "../../components/base/BaseComponent";
import HeaderSecond from '../../components/header/HeaderSecond/HeaderSecond.vue';

export default {
  components: { HeaderSecond },
    name: "ProfilePageComponent",
    extends: BaseComponent,

    data() {
        return {

        }
    },
    methods: {


        async logoutUser(){
            await this.sqlite().setLogout();
            location.reload();
        }

    },
    created() {
        this.getSubscriptionDetails();
    }


}
</script>

<style scoped>

</style>
