<template>
    <section class="container-fluid ">
            <div class="section-head">
                <h2> {{ $t('home_page_categories') }} <a href="#">{{ $t('home_page_see_all') }} <i class="fa fa-caret-right"></i></a></h2>
            </div>
            <div class="row">
                <div class="col-md-c-3 text-center">
                    <div class="card card-sec3" style="width:100%">
                        <img class="card-img-top" src="https://dev.buildmart.net/public/admin/images/productCategory/1605507829_189071229.jpeg" alt="" style="height:200px">
                        <div class="card-body">
                            <small>All what you want is here.</small>

                        </div>
                        <div class="card-footer">
                            <p><strong>Architectural Materials</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-c-3 text-center">
                    <div class="card card-sec3" style="width:100%">
                        <img class="card-img-top" src="https://dev.buildmart.net/public/admin/images/productCategory/1605507858_1435144828.jpeg" alt="" style="height:200px">
                        <div class="card-body">
                            <small>All what you want is here.</small>

                        </div>
                        <div class="card-footer">
                            <p><strong>Mechanical Materials</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-c-3 text-center">
                    <div class="card card-sec3" style="width:100%">
                        <img class="card-img-top" src="https://dev.buildmart.net/public/admin/images/productCategory/1605507921_235062013.jpeg" alt="" style="height:200px">
                        <div class="card-body">
                            <small>All what you want is here.</small>

                        </div>
                        <div class="card-footer">
                            <p><strong>Electrical Materials</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-c-3 text-center">
                    <div class="card card-sec3" style="width:100%">
                        <img class="card-img-top" src="https://dev.buildmart.net/public/admin/images/productCategory/1607697231_1879620623.jpg" alt="" style="height:200px">
                        <div class="card-body">
                            <small>All what you want is here.</small>

                        </div>
                        <div class="card-footer">
                            <p><strong>electronics</strong></p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</template>

<script>


export default {
    name: "CategoriesComponent",
    methods: {
        // emitGlobalClickEvent(){
        //     EventBus.$on('i-got-clicked', clickCount => {
        //         console.log(`Oh, that's nice. It's gotten ${clickCount} clicks! :)`)
        //     });
        // }
    },
    mounted() {
        // this.emitGlobalClickEvent()
    }
}
</script>

<style scoped>
    @import "CategoriesComponent.css";
</style>
