<template>
    <footer class="dark-footer skin-dark-footer">
        <div class="custom_container">

            <div class="row">
                <div class="col-sm-3">
                    <div class="left_ftr text-left">
                        <img src="https://dev.buildmart.net/public/frontend/img/logo.png" class="img-fluid-logo">
                        <div class="wrap_adrs text-left">
                            <!-- <h4>Mawad Mart</h4> -->
                            <p><i class="fa fa-phone"></i>&nbsp; +966 5512312345</p>
                            <p><i class="fa fa-envelope-o"></i> &nbsp;contact@buildmart.nets</p>
                            <p class="text-wrap w-75"> <strong>{{ $t('home_page_address')}}</strong><br><br></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="download_rgt">
                            <!--<h3>Download The App Now</h3> -->
                                <img src="https://dev.buildmart.net/public/frontend/img/maroof.png" class="img-fluid-maroof">
                                <!--<a style="cursor: unset;" class="" href=""><img src="https://dev.buildmart.net/public/frontend/img/pls.svg" class="img-fluid"></a> -->
                                <!-- <a class="" href="https://play.google.com/store/apps/"><img src="https://dev.buildmart.net/public/frontend/img/aps.svg" class="img-fluid"></a>
                                <a class="" href="https://www.apple.com/in/app-store/"><img src="https://dev.buildmart.net/public/frontend/img/pls.svg" class="img-fluid"></a> -->
                    </div>
                    <div class="rgt_ftr ">
                        <div class="top_rgt prnt_ftr_div d-flex">
                            <div class="shop_div ftr_inr_div">
                                <h3 class=" d-flex "> {{$t('home_page_follow_us')}} </h3>
                                <ul class="ftr_ul d-flex " type="none" style="margin-left: -40px;">
                                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/LOGIN"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="https://in.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-3">
                    <div class="rgt_ftr">
                        <div class="top_rgt prnt_ftr_div d-flex">
                            <div class="mor_div ftr_inr_div">
                                <h3>{{$t('home_page_more')}}</h3>
                                 <ul class="ftr_ul" type="none" style="margin-left: -40px;">
                                    <!-- <a href="https://dev.buildmart.net/career"><li><i class="fa fa-angle-right"></i> Careers</li></a> -->
                                    <!-- <li><i class="fa fa-angle-right"></i> Become Service Provider</li> -->
                                    <a href="https://dev.buildmart.net/deliveryPolicy"><li><i class="fa fa-angle-right"></i> {{$t('home_page_delivery_policy')}} </li></a>
                                    <a href="https://dev.buildmart.net/returnAndExchangePolicy"><li><i class="fa fa-angle-right"></i> {{$t('home_page_returns_policy')}} </li></a>

                                    <a href="https://dev.buildmart.net/termsCondtion"><li><i class="fa fa-angle-right"></i> {{$t('home_page_terms_conditions')}}</li></a>

                                    <a href="https://dev.buildmart.net/privacyPolicy"><li><i class="fa fa-angle-right"></i> {{$t('home_page_privacy_policy')}}</li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="https://dev.buildmart.net/public/frontend/img/icons2.png" class="build_icon">
                </div>
            </div>
            <div class="row" style="border-top: 1px solid #ddd;">
                <div class="col-sm-4">
                    <div style="margin-top: 40px">

                        <p>© {{$t('footer_rights_reserved')}}</p>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="rgt_ftr">
                        <div class="botm_rgt">
                            <ul class="ftr_ul d-flex justify-content-between align-items-center" type="none">
                                <h4></h4>
                                <div class="d-flex justify-content-end align-items-center">
                                    <h4> {{$t('footer_payment_methods')}} &nbsp; &nbsp; </h4>

                                    <li class="same_i_foot">
                                        <img src="https://dev.buildmart.net/public/admin/images/paymentMethod/1609229770_69628659.jpeg" class="img-fluid">
                                    </li>

                                    <li class="same_i_foot">
                                        <img src="https://dev.buildmart.net/public/admin/images/paymentMethod/1609229851_500352006.png" class="img-fluid">
                                    </li>

                                    <li class="same_i_foot">
                                        <img src="https://dev.buildmart.net/public/admin/images/paymentMethod/1609229895_550006763.png" class="img-fluid">
                                    </li>

                                    <li class="same_i_foot">
                                        <img src="https://dev.buildmart.net/public/admin/images/paymentMethod/1609236398_576046771.jpeg" class="img-fluid">
                                    </li>

                                    <li class="same_i_foot">
                                        <img src="https://dev.buildmart.net/public/admin/images/paymentMethod/1609236516_1217666302.jpeg" class="img-fluid">
                                    </li>

                                    <li class="same_i_foot">
                                        <img src="https://dev.buildmart.net/public/admin/images/paymentMethod/1609236711_543270780.png" class="img-fluid">
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>
<script>
    import BaseComponent from "../base/BaseComponent";

    export default {
        name: "FooterComponent",
        extends: BaseComponent,
        data(){
            return {}
        }
    }
</script>

<style scoped>
    /*@import "resources/sass/footer/footer.scss";*/
    @import "FooterComponent.css";
</style>
