.dark-footer.skin-dark-footer {
    padding: 30px 0 0 0;
}

footer {
    padding: 50px 0;
    /* background: #f7f7f7 url(../img/bg-hos.jpg) repeat; */
    background-color: #80808010;
}



.img-fluid-logo {
    max-width: 100%;
    height: auto;
    width: 120px;
    padding: 20px 0px;
}
.img-fluid-maroof {
    max-width: 100%;
    height: auto;
    padding: 20px 0px;
}
img {
    vertical-align: middle;
}

.custom_container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 25px;
}

p {
    margin: 0 0 10px;
}

.build_icon {
    position: absolute;
    top: 10%;
    right: 20%;
    width: 130%;
}
.prnt_ftr_div > div {
    text-align: left;
}
.ftr_ul li {
    padding: 6px 0;
    /* color: #4d4d4d; */
}
.ftr_inr_div h3 {
    color: #D3152B;
    padding: 0 0 10px 0;
    margin-bottom: 10px;
    font-size: 22px;
}
a {
    color: #337ab7;
    text-decoration: none;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: none;
}
.botm_rgt {
    padding-top: 15px;
    /* border-top: 1px solid #ddd; */
}
.h4 {
    font-size: 18px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.shop_div.ftr_inr_div i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background: #ddd;
}
.ftr_inr_div i {
    color: #D3152B;
    margin: 0 20px 0 0;
    font-size: 22px;
}
.same_i_foot img {
    width: 60px;
    margin: 0 7px;
}
