.category-header-2{
    width: 100%;
}
.category-header-2 *{
    color: #ffffff;
}
.custom_container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 25px;
}
.navbar-nav{
    width: 100%;
}
.pad-30-30 .nav-item {
    padding-left: 30px;
    padding-right: 30px;
}

nav#to-fix-header {
    z-index: 2;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
