<template>
    <b-navbar id="to-fix-header" class="header" type="dark" variant="info" >
    <div class="category-header-2">
        <div class="custom_container">
            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-center pad-30-30">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle"> {{$t('home_page_building_products')}}</a>
                        </li>
                        <li class="nav-item dropdown @if(isset($page) && $page=='designers') active @endif">
                            <a class="nav-link">{{$t('home_page_designers')}}</a>
                        </li>
                        <li class="nav-item dropdown @if(isset($page) && $page=='contractors') active @endif">
                            <a class="nav-link">{{$t('home_page_contractors')}}</a>
                        </li>
                        <li class="nav-item dropdown @if(isset($page) && $page=='consultants') active @endif">
                            <a class="nav-link">{{$t('home_page_consultants')}}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link">{{$t('home_page_sellers')}}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    </b-navbar>
</template>

<script>

    import BaseComponent from "../../base/BaseComponent";

    export default {
        name: "HeaderBarCategories",
        extends: BaseComponent,
        data() {
            return {
                logo: String,

            }
        },
        methods: {
            async getLogo () {
                this.logo = await this.network().getSiteLogo();
                console.log('logo: ', this.logo)
            },
            handleScroll (event) {
                var header = document.getElementById("to-fix-header");
                var sticky = header.offsetTop;
                // Any code to be executed when the window is scrolled
                if (window.pageYOffset > sticky) {
                    header.setAttribute("fixed", "top");
                    header.classList.add("sticky");
                } else {
                    header.removeAttribute('fixed');
                    header.classList.remove("sticky");
                }
            }

        },
        created() {
            this.getLogo (),
            window.addEventListener('scroll', this.handleScroll);
        },

        destroyed () {
            window.removeEventListener('scroll', this.handleScroll);
        },

    }
</script>

<style scoped>
    @import "HeaderBarCategories.css";
</style>
