<template>
    <section class="section-1-cate container-fluid">
        <div class="">
            <div class="section-head">
                <h2> {{ $t('home_page_hot_offers') }} <a href="#">{{ $t('home_page_see_all') }} <i class="fa fa-caret-right"></i></a></h2>
            </div>

            <div class="row">
                <div class="col-md-c">
                    <a class="sec1-hr" href="">
                        <div class="card card-sec1">
                            <img class="card-img-top" src="https://dev.buildmart.net/frontend/img/sec1-1.png" alt="Structural Materials" style="width:100%;">
                            <div class="card-body">
                                <small>Best of the best</small>
                                <h4 class="card-title"><strong>Structural Materials</strong></h4>
                                <small>Here is an example of how it will be look for descreption information.</small>
                                <p class="card-text"><strong>50% - 60%</strong></p>
                            </div>
                            <div class="card-footer text-center">
                                <h5>
                                    <strong>Get the offer now</strong>
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-c">
                    <a class="sec1-hr" href="">
                        <div class="card card-sec1">
                            <img class="card-img-top" src="https://dev.buildmart.net/frontend/img/sec1-2.png" alt="Architectural Materials" style="width:100%">
                            <div class="card-body">
                                <small>Best of the best</small>
                                <h4 class="card-title"><strong>Electrical Materials</strong></h4>
                                <small>Here is an example of how it will be look for descreption information.</small>
                                <p class="card-text"><strong>50% - 60%</strong></p>
                            </div>
                            <div class="card-footer text-center">
                                <h5>
                                    <strong>Get the offer now</strong>
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-c">
                    <a class="sec1-hr" href="">
                        <div class="card card-sec1" style="width: 100%">
                            <img class="card-img-top" src="https://dev.buildmart.net/frontend/img/sec1-3.png" alt="Mechanical Materials" style="width:100%">
                            <div class="card-body">
                                <small>Best of the best</small>
                                <h4 class="card-title"><strong>Mechanical Materials</strong></h4>
                                <small>Here is an example of how it will be look for descreption information.</small>
                                <p class="card-text"><strong>10% - 30%</strong></p>
                            </div>
                            <div class="card-footer text-center">
                                <h5>
                                    <strong>Get the offer now</strong>
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-c">
                    <a class="sec1-hr" href="">
                        <div class="card card-sec1">
                            <img class="card-img-top" src="https://dev.buildmart.net/frontend/img/sec1-4.png" alt="Electrical Materials" style="width:100%">
                            <div class="card-body">
                                <small>Best of the best</small>
                                <h4 class="card-title"><strong>Electrical Materials</strong></h4>
                                <small>Here is an example of how it will be look for descreption information.</small>
                                <p class="card-text"><strong>30% - 70%</strong></p>
                            </div>
                            <div class="card-footer text-center">
                                <h5>
                                    <strong>Get the offer now</strong>
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-c">
                    <a class="sec1-hr" href="">
                        <div class="card card-sec1">
                            <img class="card-img-top" src="https://dev.buildmart.net/frontend/img/sec1-4.png" alt="Electrical Materials" style="width:100%">
                            <div class="card-body">
                                <small>Best of the best</small>
                                <h4 class="card-title"><strong>Electrical Materials</strong></h4>
                                <small>Here is an example of how it will be look for descreption information.</small>
                                <p class="card-text"><strong>30% - 70%</strong></p>
                            </div>
                            <div class="card-footer text-center">
                                <h5>
                                    <strong>Get the offer now</strong>
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
name: "HotOffersComponent"
}
</script>

<style scoped>
@import "HotOffersComponent.css";
</style>
