section {
    padding: 20px 0px 0px 0px;
    position: relative;
}
.container-fluid {
    padding-right: 60px !important;
    padding-left: 60px !important;
    padding: 0 50px;
}
.section-head h2, .section-head h3, .section-head h4 {
    font-weight: bold;
}
.section-head a {
    color: #D3152B !important;
    font-size: small !important;
}

.col-md-c {
    width: 20%;
}
.card {
    box-shadow: none !important;
    border: 1px solid rgb(231, 231, 231);
    transition: .2s;
}
.card-img-top {
    margin: auto !important;
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-body {
    padding: 15px;
}

.card-sec1 .card-body small {
    color: #D3152B !important;
}

.card-sec1 .card-body small {
    color: #D3152B !important;
}

.card-sec1 .card-body small {
    color: #D3152B !important;
}

.card-sec1 .card-footer {
    background-color: #D3152B !important;
    color: white !important;
}

