<template>
    <b-navbar id="to-fix-header" class="bg-danger second-header header"  >
        <!-- <nav-search> </nav-search> -->
        <main-menu ></main-menu>
    </b-navbar>
</template>

<script>
    export default {
        name: "HeaderSecond",
        // methods: {

        //     handleScroll (event) {
        //         var header = document.getElementById("to-fix-header");
        //         var sticky = header.offsetTop;
        //         // Any code to be executed when the window is scrolled
        //         if (window.pageYOffset > sticky) {
        //             header.setAttribute("fixed", "top");
        //             header.classList.add("sticky");
        //         } else {
        //             header.removeAttribute('fixed');
        //             header.classList.remove("sticky");
        //         }
        //     }

        // },
        // created() {
        //     window.addEventListener('scroll', this.handleScroll);
        // },

        // destroyed () {
        //     window.removeEventListener('scroll', this.handleScroll);
        // },
    }
</script>

<style scoped>

</style>
