<template>
    <section class="modified_sec">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="feata_secc_nw">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="public_pages">
                                    <a href="https://dev.buildmart.net/publicPage/MQ==">
                                        <div class="public_img">
                                            <img src="https://dev.buildmart.net/public/admin/images/publicPage/1609308686_1088222937.png" class="img-fluid">
                                        </div>
                                    </a>
                                    <div class="public_content">
                                        <h3>{{ $t('home_page_protect_payments') }}
                                    </h3>
                                        <p>{{$t('lorem_ispum')}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="public_pages">
                                    <a href="https://dev.buildmart.net/publicPage/Mg==">
                                        <div class="public_img">
                                            <img src="https://dev.buildmart.net/public/admin/images/publicPage/1609304693_170371900.png" class="img-fluid">
                                        </div>
                                    </a>
                                    <div class="public_content">
                                        <h3>{{ $t('home_page_compare_save') }}
                                    </h3>
                                        <p>{{$t('lorem_ispum')}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="public_pages">
                                    <a href="https://dev.buildmart.net/publicPage/Mw==">
                                        <div class="public_img">
                                            <img src="https://dev.buildmart.net/public/admin/images/publicPage/1609305333_507878987.png" class="img-fluid">
                                        </div>
                                    </a>
                                    <div class="public_content">
                                        <h3>{{ $t('home_page_exclusive_deals') }}
                                        </h3>
                                        <p>{{$t('lorem_ispum')}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="public_pages">
                                    <a href="https://dev.buildmart.net/publicPage/NA==">
                                        <div class="public_img">
                                            <img src="https://dev.buildmart.net/public/admin/images/publicPage/1609306522_801387714.png" class="img-fluid">
                                        </div>
                                    </a>
                                    <div class="public_content">
                                        <h3>{{ $t('home_page_discount_code') }}
                                        </h3>
                                        <p>{{$t('lorem_ispum')}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        name: "WhyUsComponent"
    }
</script>

<style scoped>
    /*@import "resources/sass/footer/footer.scss";*/
    @import "WhyUsComponent.css";
</style>
